# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
data/Boulder_AddressPts_20211009.geojson
data/Boulder_Parcels_20211009.geojson
data/Zillow_Neighborhoods/*
data/Boulder_Parcels_20211009_original.geojson
data/Boulder_Parcels_20211009_fix.geojson
data/Buildings_2.csv
results/Training_LM.txt
results/Boulder_Data.txt
results/Boulder_Data.txt
*.txt
data/USA_Urban_Areas.lpk
data/urban.gdb/gdb
data/urban.gdb/a00000009.spx
data/urban.gdb/a00000009.gdbtablx
data/urban.gdb/a00000009.gdbtable
data/urban.gdb/a00000009.gdbindexes
data/urban.gdb/a00000007.gdbtablx
data/urban.gdb/a00000007.gdbtable
data/urban.gdb/a00000007.gdbindexes
data/urban.gdb/a00000007.CatRelTypesByUUID.atx
data/urban.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
data/urban.gdb/a00000007.CatRelTypesByName.atx
data/urban.gdb/a00000007.CatRelTypesByForwardLabel.atx
data/urban.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
data/urban.gdb/a00000007.CatRelTypesByBackwardLabel.atx
data/urban.gdb/a00000006.gdbtablx
data/urban.gdb/a00000006.gdbtable
data/urban.gdb/a00000006.gdbindexes
data/urban.gdb/a00000006.FDO_UUID.atx
data/urban.gdb/a00000006.CatRelsByType.atx
data/urban.gdb/a00000006.CatRelsByOriginID.atx
data/urban.gdb/a00000006.CatRelsByDestinationID.atx
data/urban.gdb/a00000005.gdbtablx
data/urban.gdb/a00000005.gdbtable
data/urban.gdb/a00000005.gdbindexes
data/urban.gdb/a00000005.CatItemTypesByUUID.atx
data/urban.gdb/a00000005.CatItemTypesByParentTypeID.atx
data/urban.gdb/a00000005.CatItemTypesByName.atx
data/urban.gdb/a00000004.spx
data/urban.gdb/a00000004.gdbtablx
data/urban.gdb/a00000004.gdbtable
data/urban.gdb/a00000004.gdbindexes
data/urban.gdb/a00000004.FDO_UUID.atx
data/urban.gdb/a00000004.CatItemsByType.atx
data/urban.gdb/a00000004.CatItemsByPhysicalName.atx
data/urban.gdb/a00000003.gdbtablx
data/urban.gdb/a00000003.gdbtable
data/urban.gdb/a00000003.gdbindexes
data/urban.gdb/a00000002.gdbtablx
data/urban.gdb/a00000002.gdbtable
data/urban.gdb/a00000001.TablesByName.atx
data/urban.gdb/a00000001.gdbtablx
data/urban.gdb/a00000001.gdbtable
data/urban.gdb/a00000001.gdbindexes
